<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field color="accent">
        <mat-label>Nombre del restaurante</mat-label>
        <input type="text" matInput formControlName="name" />
        <mat-error *ngIf="formGroup.get('name')?.invalid">
            El nombre del restaurante es obligatorio.
        </mat-error>
    </mat-form-field>
  
    <mat-form-field color="accent">
        <mat-label>Ubicación</mat-label>
        <input type="text" matInput formControlName="location" />
        <mat-error *ngIf="formGroup.get('location')?.invalid">
            La ubicación es obligatoria.
        </mat-error>
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="categories" multiple>
            <mat-option *ngFor="let category of categories" [value]="category.value">
                {{ category.viewValue }}
            </mat-option>
            <mat-option value="otro" (click)="addCategory()">Añadir otra</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('categories')?.invalid">
            La categoría es obligatoria.
          </mat-error>
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Precio</mat-label>
        <mat-select formControlName="price">
            <mat-option *ngFor="let price of prices" [value]="price.value">
                {{ price.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field color="accent">
        <mat-label>Valoración</mat-label>
        <input matInput type="number" [min]="1" [max]="5" id="aux-input">
        <mat-slider thumbLabel [min]="1" [max]="5" [step]="1" class="slider"></mat-slider>
        <mat-error *ngIf="formGroup.get('rate')?.invalid">
            La valoración es obligatoria.
        </mat-error>
    </mat-form-field>
    
    <!-- <mat-form-field>
        <mat-label>Imagen</mat-label>
        <input
            type="file"
            matInput
            (change)="onFileSelected($event)"
            accept="image/*"
        />
        <mat-error *ngIf="formGroup.get('foto').invalid">
            La imagen es obligatoria.
        </mat-error>
    </mat-form-field> -->
  
    <button mat-raised-button color="primary" type="submit">Añadir</button>
</form>
  
