@use '@angular/material' as mat;

@include mat.core();

$custom-primary-map: (
    50 : #fef9f3,
    100 : #fdefe1,
    200 : #fce5ce,
    300 : #fbdbba,
    400 : #fad3ab,
    500 : #f9cb9c,
    600 : #f8c694,
    700 : #f7be8a,
    800 : #f6b880,
    900 : #f5ac6e,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #fff5ec,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-accent-map: (
    50 : #f6f4fa,
    100 : #e9e5f3,
    200 : #dad3eb,
    300 : #cbc1e2,
    400 : #bfb4dc,
    500 : #b4a7d6,
    600 : #ad9fd1,
    700 : #a496cc,
    800 : #9c8cc6,
    900 : #8c7cbc,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e4dbff,
    A700 : #d2c2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$restaurants-app-primary: mat.define-palette($custom-primary-map);
$restaurants-app-accent: mat.define-palette($custom-accent-map);

$restaurants-app-warn: mat.define-palette(mat.$red-palette);

$restaurants-app-theme: mat.define-light-theme((
	color: (
		primary: $restaurants-app-primary,
		accent: $restaurants-app-accent,
		warn: $restaurants-app-warn,
	)
));

@include mat.all-component-themes($restaurants-app-theme);

/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
	height: 100%;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
