@use '@angular/material' as mat;

@include mat.core();

$custom-primary-map: (
    50 : #fbeded,
    100 : #f6d1d1,
    200 : #f0b3b3,
    300 : #e99494,
    400 : #e57d7d,
    500 : #e06666,
    600 : #dc5e5e,
    700 : #d85353,
    800 : #d34949,
    900 : #cb3838,
    A100 : #ffffff,
    A200 : #ffe2e2,
    A400 : #ffafaf,
    A700 : #ff9696,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-accent-map: (
    50 : #f6f4fa,
    100 : #e9e5f3,
    200 : #dad3eb,
    300 : #cbc1e2,
    400 : #bfb4dc,
    500 : #b4a7d6,
    600 : #ad9fd1,
    700 : #a496cc,
    800 : #9c8cc6,
    900 : #8c7cbc,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e4dbff,
    A700 : #d2c2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$restaurants-app-primary: mat.define-palette($custom-primary-map);
$restaurants-app-accent: mat.define-palette($custom-accent-map);

$restaurants-app-warn: mat.define-palette(mat.$red-palette);

$restaurants-app-theme: mat.define-light-theme((
  color: (
    primary: $restaurants-app-primary,
    accent: $restaurants-app-accent,
    warn: $restaurants-app-warn,
  )
));

@include mat.all-component-themes($restaurants-app-theme);

/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
